  <div class="row">
    <div class="col col--9">
      <div class="markdown">
        {{ content }}
      </div>
    </div>
    <div class="col col--3">
      <!-- TOC goes here -->
      <h3>Contents:</h3>
    </div>
  </div>