<!doctype html>
<html lang="{{ lang || metas.lang }}" data-theme="light">
  <head>
    {{ include "partials/head.vto" }}
    {{ include "partials/scripts.vto" }}
  </head>
  <body>
    {{ include "partials/nav.vto" }}
    <div class="main-wrapper">
      <main>
        <div class="container margin-top--lg">
          {{ content }}
        </div>
      </main>
    </div>
    {{ include "partials/footer.vto" }}
  </body>
</html>
