#page-feedback {
  display: inline-block;
  max-width: 550px;
  margin: 1.5em 0 1.5em;
}

#page-feedback img {
  height: 24px;
  width: auto;
  display: inline;
  padding-top: 2px;
}

#page-feedback p {
  font-weight: bold;
}

#page-feedback label {
  margin: 1em 1em 0 1em;
}

#page-feedback textarea {
  margin-left: 1em;
  max-height: 250px;
  width: 92%;
  display: block;
  border: 1px solid steelblue;
}

#page-feedback .feedback__bumper {
  display: inline;
  float: right;
  padding: 0 1em 0 0;
}

#page-feedback .feedback__bumper p {
  font-size: 10pt;
  font-weight: normal;
  margin-bottom: -1px;
  margin-right: 10px;
}

[data-font="user"] {
  #page-feedback .feedback__bumper p {
    margin-right: 15px;
  }
}

#page-feedback-form {
  display: none;
}
