---
layout: layouts/page.vto
title: Framework Features
---
<h1>Coming Soon</h1>

<h2>Alerts:</h2>

<h2>Badges, Pills &amp; Buttons:</h2>

<h2>Breadcrumbs, Pagination</h2>

<h2>Tabs<h2>

<h2>Avatar, Cards &amp; Swatches</h2>

<h2>NEEDED: Forms</h2>

<p>As static sites seldom take input, Infima doesn't have any
form styles. Serverless is changing that, so we should probably
create some to go with it.</p> 