/*
 * Overrides are at the bottom.
 * Top section is vars to control the themes (light / dark)
 */
@import "_includes/css/theme.css";
@import "_includes/css/theme-variables.css";
@import "_includes/css/opendyslexic.css";
@import "_includes/css/forms.css";

/* Override for TOC list type */
.table-of-contents,
.table-of-contents ul {
  list-style: "»  ";
  list-style-position: outside;
}
.table-of-contents li {
  margin: 15px 15px;
}

/* Helper For Blog Images */
.blog_image {
  max-height: 675px;
  width: auto;
  text-align: center;
  align-items: center;
  border-radius: 1rem;
  margin: 0 0 1rem;
}

/* Hide nav logo on small screens */
@media (max-width: 976px) {
  #navbar-logo {
    display: none;
  }
}

