/*
 * Overrides are at the bottom.
 * Top section is vars to control the themes (light / dark)
 */
@import "_includes/css/theme.css";
@import "_includes/css/theme-variables.css";
@import "_includes/css/opendyslexic.css";
@import "_includes/css/forms.css";

/* Override for TOC list type */
.table-of-contents,
.table-of-contents ul {
  list-style: "»  ";
  list-style-position: outside;
}
.table-of-contents li {
  margin: 15px 15px;
}

#toc {
  display: block;
}

/* Helper For Blog Images */
.blog_image {
  max-height: 675px;
  width: auto;
  text-align: center;
  align-items: center;
  border-radius: 1rem;
}

/* Example of adapting design to a font-switch */
.homepage_card {
  min-height: 275px;
}

[data-font="user"] {
  .homepage_card {
    min-height: 365px;
  }
}

/* Post tags (and example of flipping styles in dark mode) */
.post-tags {
  display: flex;
  flex-flow: row wrap;
  gap: 0.75em;
  align-items: center;
}

.post-tag {
  border: 1px solid var(--ifm-color-gray-400);
  border-radius: 4px;
  color: var(--ifm-color-content);
  display: inline-block;
  padding: 0.2em 0.6em;
  text-decoration: none;
}

.post-tag:hover {
  background-color: var(--ifm-color-secondary);
  color: var(--ifm-color-black);
  text-decoration: none;
}

[data-theme="dark"] {
  .post-tag:hover {
    border: 1px solid skyblue;
    background-color: var(--ifm-color-info);
  }
}

.archive-fueller {
  display: block;
  margin-top: 2.5rem;
  font-size: 145%;
}

.feed-links {
  display: block;
}

.toc-heading {
  display: block;
  margin: 1rem 0 0;
}

/* Hide various things on smaller screens */
@media (max-width: 976px) {
  /* Top nav logo */
  #navbar-logo {
    display: none;
  }

  /* Feed links on blog and docs pages */
  .feed-links {
    display: none;
  }

  /* With feed links gone, TOC needs buffered */
  .toc-heading {
    margin: 2rem 0 0;
  }

  /* The bottom "more in the archive" is redundant when
     the sidebar links it. */
  .archive-fueller {
    display: none;
  }
}

.footer__item {
  list-style-type: none;
}