<div class="hero hero--primary padding--xl">
  <div class="container">
    <h1 class="hero__title">{{ title }}</h1>
    <p class="hero__subtitle font-selectable">{{ slogan }}</p>
    <a href="{{ href }}">
      <button class="button button--secondary button--lg">{{ cta }}</button>
    </a>
  </div>
</div>