<!-- TODO: Make me a component -->
<div class="hero hero--primary padding--xl">
  <div class="container">
    <h1 class="hero__title">{{ demo.hero.title }}</h1>
    {{ for slogan of demo.hero.slogans }}
    <p class="hero__subtitle">{{ slogan }}</p>
    {{ /for }}
    <a href="{{ demo.hero.href }}">
      <button class="button button--secondary button--lg">{{ demo.hero.cta }}</button>
    </a>
  </div>
</div>